body{
    width: 100%;
}
header{
    display: inline-block;
    margin: auto;
    background-color: rgb(2, 2, 2);
    width: 100%;
}
header section{
    width: 960px;
    margin: auto;
    padding: 10px;
}
header section img{
    width: 200px;
    height: 70px;
    
    float: left;
    
}
header li {
    text-align: center;
    display: inline-flex;
    clear: both;
    margin: 0px 20px;
}
header ul li a{
    color: #ffffff;
    text-decoration: none;
    padding: 28px;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 960px;
    margin: auto;
}
main img {
    margin: 20px auto;
    display: block;
    width: 100%;
    clear: both;
}
section {
    clear: both;
    display: flex;
}
#first{
    width: 300px;
    height: 375px;
    margin: 0px auto;
    padding-right: 26px;
}
#second{
    width: 300px;
    height: 375px;
    margin: 0px auto 0px 0px;
    padding-right: 26px;

}
#third{
    width: 300px;
    height: 375px;
    margin: 0px 0px 0px auto;
}

#fourth{
    width: 480px;
    height: 400px;
    float: left;
    width: 50%;
    margin: 20px 20px 0px 0px;
}
main article {
    overflow: scroll;
    height: 375px;
}

h2{
    font-size: 20px;
    padding: 22px 30px;
    font-weight: 650;
}
#call{   
     background-color: rgb(2, 2, 2);
    padding: 10px 30px;
    color: rgb(253, 251, 251);
    border-radius: 3px;
    margin: 10px 0;
    width: 25%;
   }
#call:hover{
    color: rgb(77, 35, 35);
}

#firstParagraph{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(248, 245, 245);
    font-size: 18px;
    padding: 10px 30px;
    color: rgb(3, 3, 3);
    border-radius: 3px;
    margin: 10px 0;
    display: block;
    height: 50px;
    font-weight: 500;


}
footer{
    margin-top: 27px;
    height: 100px;
    background-color: rgb(5, 5, 5);
}
