body{
    width: 100%;
}
header{
    display: inline-block;
    margin: auto;
    background-color: rgb(80, 77, 77);
    width: 100%;
}
header section{
    width: 960px;
    margin: auto;
    padding: 10px;
}
header section img{
    width: 200px;
    height: 70px;
    
    float: left;
    
}
header li {
    text-align: center;
    display: inline-flex;
    clear: both;
    margin: 0px 20px;
}
header ul li a{
    color: #ffffff;
    text-decoration: none;
    padding: 28px;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 960px;
    margin: auto;
    position: relative;
}
main img {
    margin: 20px auto;
    display: block;
    width: 100%;
    clear: both;
}
section {
    clear: both;
    display: flex;
}
main section img{
    width: 300px;
    height: 375px;
    margin: 0px auto;
    padding-right: 31px;
}

main div img{
    width: 480px;
    height: 400px;
    float: left;
    margin: 24px 20px 0px 0px;
}

main article {
    overflow: scroll;
    height: 375px;
    margin: 24px 20px 0px 0px;
    width: 458px;
}

h2{
    font-size: 20px;
    padding: 22px 30px;
    font-weight: 650;
}
h4{   
     background-color: rgb(2, 2, 2);
     padding: 12px 30px;
    color: rgb(253, 251, 251);
    border-radius: 3px;
    margin: 8px 292px;
  }

h4 :hover{
    color: rgb(77, 35, 35);
}

main article p{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(248, 245, 245);
    font-size: 18px;
    padding: 10px 30px;
    color: rgb(3, 3, 3);
    border-radius: 3px;
    margin: 9px 0;
    display: block;
    height: 50px;
    font-weight: 500;



}
footer{
    margin-top: 68px;
    height: 100px;
    background-color: rgb(80, 77, 77);
}
button{
    padding: 11px 39px;
    margin-top: 6px;
    border-radius: 5px;
    background: black;
    color: white;
}
button:hover{
    color: hotpink;
    
}